.voosh-header {
  background-image: url("../../assets/Rectangle\ 2.png"),
    linear-gradient(#ff5920, #ffa20f);
  padding: 1.5rem 1rem 1rem 1rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100vw;
}
.voosh-heading {
  font-size: 2rem;
  color: white;
  padding-top: 0.5rem;
  letter-spacing: 0.1rem;
}
.voosh-vgn-header {
  display: flex;
  justify-content: space-between;
}
.voosh-vgn-header-cards {
  margin-top: 2rem;
  display: flex;
}
.payout-card {
  margin-top: 1.5rem;
}
.dashboard-content-container {
  margin-top: 1.5rem;
  padding: 0 1.5rem;
}
.channel-breakdown-header {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: #3f414e;
  font-weight: bold;
}
.channel-category {
  display: flex;
  margin-top: 1.5rem;
}
.channel-category-text {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.zomato-text {
  margin-left: 1.5rem;
}
.category-details {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1rem;
  margin-top: 1rem;
}
.deliver-order {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.cancel-order {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.total-sales {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.net-payout {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.chart-labels {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.chart-label-detail {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.chart-label {
  font-size: 1.5rem;
  flex-basis: 60%;
  text-align: left;
}
.chart-label-number {
  font-size: 1.5rem;
  font-weight: 600;
  flex-basis: 30%;
  text-align: center;
}
.chart-label-color {
  flex-basis: 10%;
}
.deduction-header {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  color: #262d30;
}
.deduction-card {
  margin-left: 2rem;
}
